<html>

<head>
<title>Quote2Note</title>
<!---BEGIN for search--->
<meta name="robots" content="noodp">
<meta name="Description" content="Translate stock quotes into musical notes">
<!---END for search--->
</head>

<body>
<body style="color: rgb(0, 26, 87); background-color: rgb(175, 238, 238);" alink="#ff0000" link="#0000ee" vlink="#551a8b">
<!---text in Duke blue x001A57--->
<center>
<h1>Quote2Note</h1>
</center>

<table align="center">

<tr>
<td colspan="2">
    <%= yield %>
</td>
</tr>

<tr>
<td valign="top"> 
<form name="symbol_input" action="action" method="get">
Enter stock symbol: <input type="text" name="symbol" size="20"><input type="submit" value="Submit">
</form>
<p>
<small>Transcoding into .wav and .mp3 format may take up to a minute.
<br> Thanks for your patience!</small>
</td>

<td rowspan="2">
<a href="http://www.telegraph-history.org/george-m-phelps/" target="_blank">
<img src="telehist.jpg" hspace="10">
</a>
</td>
</tr>

<td valign="bottom">
Feedback welcome...
</td>

</table>


<center>
<br>
Contact <a href="mailto:quote2note@larrylang.net">author</a> of this website.
<br>
GitHub <a href="https://github.com/llang629/quote2note" target="_blank">repository</a>.<br>
Copyright &copy 2015 Larry Lang.&nbsp; All rights reserved.</p>
</center>
</body>

</html>
