<p>
<!--For stock chart parameters, see-->
<!--https://code.google.com/p/yahoo-finance-managed/wiki/miscapiImageDownload--> 
<img src="http://chart.finance.yahoo.com/z?s=<%= @symbol %>&t=my&q=l&l=off&z=l&p=v"/>

<p>
<b>Success! </b>
Translated <%= @symbol %> stock quotes into musical notes.
<p>
Click to listen:
<ul>
<li>
MP3 file (coming soon)
<li>
WAV file (coming soon)
<li>
<A HREF="mid/<%= @midifile %>">MIDI file</A>
</ul>
